<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.min.js" %>
<%= javascript_include_tag "fs_gallery.js" %>  


<body class="fullscreen_layout">
  <div class="fullscreen_block"></div>    
    <script>
    gallery_set = [ //Gallery Data

      // THIS IS AN EXAMPLE IN CASE I WANT TO BRING BACK THE NAME/TAGLINE HOVER

      // {image : "<%= asset_path('test1.jpg') %>", alt : 'Ahi', fit : 'cover', title : "find a way to put username in here", description: "right here we've got something you gonna love..."},

      {image : "<%= asset_path('home/home1.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home2.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home3') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home4.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home5.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home6.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home7.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home8.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home9.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home10.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home11.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home12.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home13.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home14.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home15.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home16.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home17.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home18.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home19.jpg') %>", fit : 'cover'},
      {image : "<%= asset_path('home/home20.jpg') %>", fit : 'cover'}    
    ];
    $('body').fs_gallery({
      fx : 'fade', /*fade, zoom, slide_left, slide_right, slide_top, slide_bottom*/
      slide_time : 3300, /*This time must be < then time in css*/
      slides : gallery_set
    });
  </script>

  <%= javascript_include_tag "http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" %>
  <%= javascript_include_tag "theme.js" %>  
 
  <div class="header2top"></div>
</div>