<!DOCTYPE html>
<html>
<!-- HEAD -->
<head>
<meta charset="utf-8">
<title>Gayface</title> 
<meta name="description" content="Gayface"/>
<meta name="keywords" content="Gayface" />
<meta name="author" content="Designed and Developed for Gayface by Samantha Radocchia aka iamsamsterdam. The Machine Elf, LLC."/>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!-- END HEAD -->

<body> <!-- class="fullscreen_layout" just in case i need this part? -->

<!-- NAVIGATION BAR -->
<%= render "layouts/nav" %>
<!-- END NAVIGATION -->
<%= yield %>


</body>


<footer>
  <%= render "layouts/footer" %>
</footer>

</html>